.articleLastArticle{
    display: flex;
    justify-content: center;
    cursor: pointer;
    /* pour que le margin-top s'adapte selon la taille de l'écran
    vh = (165(margin-top en px) / 2607 (height en px de la page du moke-up) x 100 = 6.32599655 */
    margin-top: 6.32vh;
}

.lastTravelPicture,
img {
    position: relative;
    width: 80vw;
    /* margin: auto; */
    min-width: 350px;
    min-height: 350px;
    /* pour que l'image passe sous le header */
    z-index: -1;
}

img {
    object-fit: cover;
}

.terracottaBand {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 118px;
    background-color: var(--lightTerracotta);
    z-index: 1;
    display: flex;
}

.countryPart {
    width: 816px;
    height: 118px;
    border-right: 1px solid var(--white);
    padding: 40px 0 40px 49px;
}

.datePart {
    width: 213px;
    height: 118px;
    padding: 50px 38px 49px 35px;
}

.h2LastArticle {
    font-family: var(--lora);
    font-size: clamp(15px, 2vw, 30px);
    font-weight: 400;
    color: var(--white);
}

.h4LastArticle {
    font-family: var(--inter);
    font-size: clamp(10px, 1.5vw, 15px);
    font-weight: 400;
    color: var(--white);
}


/* RESPONSIVE */

@media (max-width:1000px) {

    .articleLastArticle{
        margin-top: 0;
    }

    .lastTravelPicture,
    img {
        width: 350px;
        height: 358px;
    }

    .terracottaBand {
        height: 70px;
    }

    .countryPart {
        padding: 25px 16px 0 25px;
    }

    .datePart {
        padding: 29px 15px;
    }
}

