<!-- .ts -> data?: IarticlesData = ARTICLESDATA.find(article=>article.isOnHomePage) -->
<article class="articleLastArticle" *ngIf="data" [routerLink]="['/articles', data.id]">
    <div class="lastTravelPicture">
        <a>
            <img src="{{data.mainPicture}}" alt="Image du voyage en {{data.country}}">
        </a>
        <div class="terracottaBand">
            <div class="countryPart">
                <h2 class="h2LastArticle">{{data.country}} - {{data.city}}</h2>
            </div>
            <div class="datePart">
                <h4 class="h4LastArticle">{{data.departureDate}}·{{data.returnDate}}</h4>
            </div>
        </div>
    </div>
</article>