<article routerLink="/articles">
    <ng-container *ngFor="let data of data">
        <div *ngIf="data.isOnHomePage" class="lastTravelPicture">
            <img src="{{data.mainPicture}}" alt="Image du voyage en {{data.country}}">
            <div class="terracottaBand">
                <div class="countryPart">
                    <h2>{{data.country}} - {{data.city}}</h2>
                </div>
                <div class="datePart">
                    <h4>{{data.departureDate}} - {{data.returnDate}}</h4>
                </div>
            </div>
        </div>
    </ng-container>
</article>