article{
    width: auto;
    height: 1016px;
}


.lastTravelPicture, img {
    position: relative;
    width: 1029px;
    height: 686px;
    object-fit: cover;
}

.terracottaBand{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 118px;
    background-color: var(--lightTerracotta);
    z-index: 1;   
}

h2, h4{
    color: var(--white);
}
