footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 308px;
    width: 100%;
}

.h3Footer {
    font-family: var(--lora);
    font-weight: 400;
    font-size: 24px;
}


/* RESPONSIVE */

@media (max-width: 1000px) {
    footer {
        height: 118px;
    }
}