.returnButton {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--terracotta);
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.whiteArrow {
    padding: 60px;
}


@media (max-width: 1000px) {
    .returnButton {
        width: 74px;
        height: 74px;
        top: 0;
        margin-top: 70px;
    }

    .whiteArrow {
        padding: 30px;
    }

}