.footer{
    position: relative;
    margin-top: auto;
    height: 308px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 157px;
}

main{
    flex: 1;
    padding-bottom: 308px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 157px;  */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


