.footer {
    align-self: flex-end;

}

main{
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* A REPRENDRE */
/* MANQUE LE FOOTER sur homePage !!! */
@media (max-width: 1000px) {
    main{
        min-height: 180vh;
    }
}


