.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border: 2px solid red; */
    display:flex;
    align-items: center;
    justify-content: center;
    height: 308px;
    margin-left: 157px;
}