ul {
    padding-left: 25px;
}

.h1OurAdviceArticle {
    font-size: clamp(28px, calc(6vw + 2px), 60px);
    font-family: var(--lora);
    font-weight: 400;
    margin-bottom: 44px;
}

.h3OurAdviceArticle {
    font-size: 24px;
    font-family: var(--inter);
    font-weight: 400;
    margin-top: 62px;
    margin-bottom: 33px;
}

.lePlus {
    /* entre h1 et h3'lePlus'-> 44px*/
    margin-top: 0;
}

li {
    font-size: 20px;
    font-family: var(--inter);
    font-weight: 400;
}


@media (max-width: 1000px) {
    .ourAdviceArticle {
        width: 350px;
    }

    h1 {
        margin-bottom: 36px;
    }
}