ul{
    padding-left: 25px;
}

h1{
    margin-bottom: 44px;
}

h3{
    margin-top: 62px;
    margin-bottom: 33px;
}

.lePlus{
    /* 62px du h1 - 44px du h3 = 18px */
    margin-top: 18px;
}

li{
    font-size: 20px;
    /* ajouter font family */
}


@media (max-width: 1000px){
    .ourAdviceArticle{
        width: 350px;
    }

    h1{
        margin-bottom: 36px;
    }
}
