.sectionOtherArticles {
    display: flex;
    justify-content: center;
    margin-top: 208px;
    height: 1255px;
    /* section de la taille du composant d'au-dessus 
    + 10vw pour offrir un centre "centré" */
    width: 90vw;
}

.size {
    position: relative;
    width: 38.5vw;
    min-height: 512px;
    max-height: 512px;
    min-width: 350px;
    object-fit: cover;
    /* pour que l'image passe sous le header */
    z-index: 0;
}

.allCountriesPictures {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.terracottaBand {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 118px;
    background-color: var(--terracotta);
    /* pour que l'image passe sous le header */
    z-index: 10;
}

.countryPart {
    width: 342px;
    height: 118px;
    border-right: 1px solid var(--white);
    padding: 29px 0 32px 34px;
}

.datePart {
    width: 158px;
    height: 118px;
    padding: 36px 31px;
}

.h1OtherArticles {
    font-family: var(--lora);
    font-size: clamp(30px, calc(1.6vw + 10px), 60px);
    font-weight: 400;
    margin-bottom: 44px;

}

.h3OtherArticles {
    font-family: var(--lora);
    font-size: clamp(20px, calc(10px + 2vw), 24px);
    font-weight: 400;
    color: var(--white);
}

.h4CityOtherArticles {
    font-family: var(--inter);
    font-size: clamp(14px, calc(3vw + 2px), 16px);
    font-weight: 400;
    color: var(--white);
}

.h4DateOtherArticles {
    font-family: var(--inter);
    font-size: clamp(12px, calc(12px + (16 - 12) * ((60vw - 500px) / (900 - 500))), 16px);
    font-weight: 400;
    color: var(--white);
}


/* RESPONSIVE */

@media (max-width:1150px) {
    .h4DateOtherArticles {
        font-size: clamp(12px, calc(12px + (16 - 12) * ((30vw - 500px) / (900 - 500))), 16px);
    }

}

@media (max-width:1000px) {
    .size {
        min-height: 358px;
        max-height: 358px;
    }

    .sectionOtherArticles {
        margin-top: 76px;
    }

    .allCountriesPictures {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terracottaBand {
        height: 70px;
    }

    .countryPart {
        height: 70px;
        padding: 15px 16px 22px 24px;
    }

    .datePart {
        height: 70px;
        flex: none;
        width: 119px;
        padding: 25px 16px 23px 22px;
    }

    .allCountriesPictures {
        gap: 44px;
    }
}


@media (max-width:390px) {

    .sectionOtherArticles {
        justify-content: unset;
    }
}