/* You can add global styles to this file, and also import other style files */


/* IMPORT LORA */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
/* font-family: 'Lora', serif;*/

/* IMPORT INTER */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* font-family: 'Inter', sans-serif; */


/* VARIABLES */
:root {
    /* color */
    --terracotta: #C96B41;
    --sand: #EEDFD4;
    --black: #000000;
    --white: #FFFFFF;
    --lightTerracotta: rgba(201, 107, 65, 0.7);
    /* font */
    --lora: 'Lora', serif;
    --inter: 'Inter', sans-serif;
}


/* NORMALIZE */
* {
    /* basic */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* marge pour centrer les pages après le header */
body {
    margin-left: 157px;
}

a {
    color: var(--black);
    text-decoration: none;
}

/* retire la bordure */
button {
    all: unset;
}


/* RESPONSIVE */

/* retirer margin -> centrer les elem. -> flex sur app.cpm.css*/
@media (max-width: 1000px) {
    body {
        margin-left: 0;
    }
}