/* You can add global styles to this file, and also import other style files */


/* IMPORT LORA */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
/* font-family: 'Lora', serif;*/

/* IMPORT INTER */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* font-family: 'Inter', sans-serif; */


/* VARIABLES */
:root {
    /* color */
    --terracotta: #C96B41;
    --sand: #EEDFD4;
    --black: #000000;
    --white: #FFFFFF;
    --lightTerracotta: rgba(201, 107, 65, 0.7);
    /* font */
    --lora: 'Lora', serif; 
    --inter: 'Inter', sans-serif;
}


/* NORMALIZE */
* {
    /* basic */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* list-style:none; */
}


/* marge pour centrer les pages après le header */
body{
    margin-left: 157px;
}

a{ 
    color: var(--black);
    text-decoration:none; 
}

/* retire la bordure */
button{
    all:unset;
}

/* TITRE et P PAR COMPO ET NON ICI */
/* TYPO */
h1{
    font-family: var(--lora);
    font-size: clamp(30px, 4vw, 60px);
    font-weight: 400;
}

h2{
    font-family: var(--lora);
    font-size: clamp(15px, 4vw, 30px);
    font-weight: 400;
}


h3{
    font-family: var(--lora);
    font-size: clamp(12px, 4vw, 24px);
    font-weight: 400;
}


h4{
    font-family: var(--inter);
    font-size: clamp(14px, 4vw, 16px);
    font-weight: 400;
}


p{
    font-family: var(--inter);
    font-size: clamp(10px, 4vw, 20px);
    font-weight: 400;
}
 
/* retirer margin -> centrer les elem. -> flex sur app.cpm.css*/
@media (max-width: 1000px) {
    body{
        margin-left: 0;
    }
} 

