h1 {
    margin-top: 115px;
}


h4 {
    margin-bottom: 44px;
}



.coverPicture {
    width: 80vw;
    min-width: 350px;
    min-height: 350px;
    /*pour les images format portrait  */
    max-height: 686px;
    object-fit: cover;
}

/* RESPONSIVE */

@media (max-width:1000px) {

    .coverPicture {
        width: 350px;
        height: 350px;
    }

    h4 {
        margin-bottom: 33px;
    }

}